*{
  margin: 0px;
  padding: 0px;
}

.section-1 {
  background-color: #ad77ff08;
}
.navbar {
  background-color: white;
  padding: 20px 15px 25px 25px;
  border-top: 10px solid #4d0aa4;
  width: 75%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-left {
  width: 150px;
  height: 100%;
}

.navbar-left-logo {
  height: 100%;
  width: 100%;
}

.navbar-right {
  /* text-decoration: none; */
  display: flex;
  font-size: 20px;
  font-weight: bold;
  gap: 60px;
}
/* .navbar-right p{
  text-decoration: none; */
/* } */
.navbar-right-item a{
  text-decoration: none;
  color: black ;
}
.section-2 {
  
  display: flex;
  align-items: center;
  
}

.right-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-sec button{
    width: 110px;
    margin-top: 30px;
    height: 40px;
    border-radius: 30px;
    background-color: #4d0aa4;
    color: white;
    margin-left: 15px;
    border-width:2px;
    border-color: black;

}
.right-div1 {
  /* align-items: center; */
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 75px;
  line-height: 80px;
}
.left-sec {
  width: 50%;
}
.left-sec img {
  width: 80%;
}
/* .section-3{

}
.ourservices{

} */ 
.ourservices h1{
  text-align: center;
  color: #4d0aa4;
  text-decoration: underline;
  font-size: 35px;
  padding-bottom: 20px;
}
/* .wrapper{
    margin: 10px;
    padding: 0 10%;
    padding-bottom: 10px;
    margin-left: 80px; */

/* } */
/* . h1{
    margin-left: 20%;
    font-size: 35px;
    /* text-align: center; */
    /* padding-bottom: 55px;
    text-shadow: 0 15px 10px rgba(0,0,0,0.2,);
    text-decoration: underline;
 
}  */
.container{
    margin-left: 70px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}
.box img{
    height: 180px;
    padding: 5px;
    text-align: center;
    margin-left: -20px;
    border-radius: 20px;
    /* border-radius: 15px; */
    /* background: ; */
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */

}
.box li{
    list-style: none;

}
.box li a{
    /* list-style: none; */
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 20px;
    font-weight: 550;
    line-height: 2.5;

}
.box{
    margin-bottom: 50px;
}
.team h1{
  text-align: center;
  color: #4d0aa4;
  text-decoration: underline;
  font-size: 35px;
  
}
